.video-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 0;
}

.video-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
}

.video-responsive::before {
  top: 0;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: -webkit-linear-gradient(
    rgba(22, 112, 93, 0.7),
    rgba(30, 50, 139, 0.7)
  );
  background: red;
}
